<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Inventory</span>
      <a class="btn btn-success pull-right" [routerLink]="['new']" routerLinkActive="active" type="button">Add Inventory Item</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel" *ngFor="let inventory of inventorys" >
      <app-inventory-item
      [inventory]="inventory"
      ></app-inventory-item>
    </div>
  </div>
</div>
